################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SalesSystem/obj/Debug/net9.0
/SalesSystem/obj/Release/net9.0
/SalesSystem/obj
/SalesSystem/bin/Debug/net9.0
