################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SalesSystem/obj/*
/SalesSystem/bin/*
/SalesSystem/.vs/*
/SalesSystem/.vs/SalesSystem
/SalesSystem/.vs/SalesSystem/copilot-chat/de909078/sessions
/SalesSystem/.vs/SalesSystem/copilot-chat/de909078/sessions/2fb4cc73-7869-44a3-a731-d5e4c98743b1
/SalesSystem/.vs/SalesSystem/CopilotIndices/17.14.995.13737
/SalesSystem/.vs/SalesSystem/CopilotIndices/17.14.995.13737/CodeChunks.db
/SalesSystem/.vs/SalesSystem/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
/SalesSystem/.vs/SalesSystem/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
/SalesSystem/.vs/SalesSystem/CopilotIndices/17.14.995.13737/SemanticSymbols.db
/SalesSystem/.vs/SalesSystem/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
/SalesSystem/.vs/SalesSystem/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
/SalesSystem/.vs/SalesSystem/DesignTimeBuild
/SalesSystem/.vs/SalesSystem/DesignTimeBuild/.dtbcache.v2
/SalesSystem/.vs/SalesSystem/FileContentIndex
/SalesSystem/.vs/SalesSystem/FileContentIndex/af0a0497-9ed1-484f-bd20-207a2577758b.vsidx
/SalesSystem/.vs/SalesSystem/FileContentIndex/afcc8d19-0514-48c7-97f3-1608a97937a3.vsidx
/SalesSystem/.vs/SalesSystem/v17
/SalesSystem/.vs/SalesSystem/v17/.suo
/SalesSystem/.vs/SalesSystem/v17/DocumentLayout.backup.json
/SalesSystem/.vs/SalesSystem/v17/DocumentLayout.json
*.user
/SalesSystem/.vs/ProjectEvaluation
/SalesSystem/.vs/SalesSystem/DesignTimeBuild/.dtbcache.v2
/SalesSystem/.vs/SalesSystem/v17/.suo
/SalesSystem/.vs/SalesSystem/v17/DocumentLayout.json
/SalesSystem/.vs/SalesSystem/DesignTimeBuild/.dtbcache.v2
/SalesSystem/.vs/SalesSystem/DesignTimeBuild/.dtbcache.v2
